/*============================GOOGLE FONTS=============================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* =====================Variables css=======================*/
:root{
    --header-height: 3rem;

/* =============================Colors=============================== */
--hue-color:142;

/* HSL Color Code */
--first-color:hsl(var(--hue-color), 69%, 61%);
--first-color-second:hsl(var(--hue-color), 69%, 61%);
--first-color-alternate:hsl(var(--hue-color), 57%, 53%);
--first-color-lighter:hsl(var(--hue-color), 92%, 85%);
--title-color:hsl(var(--hue-color), 8%, 15%);
--text-color:hsl(var(--hue-color), 8%, 45%);
--text-color-light:hsl(var(--hue-color), 8%, 65%);
--input-color:hsl(var(--hue-color), 70%, 96%);
--body-color:hsl(var(--hue-color), 60%, 99%);
--container-color:#FFF;

/* ======================Font and Typography===================== */
--body-font
/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px */
--big-font-size:;
--h1-font-size:;
--h2-font-size:;
--h3-font-size:;
--normal-font-size:;
--small-font-size:;
--smaller-font-size:;

/* ==================Font Weight=========================*/


}